<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352041457722-n0t39rh18fgueesdmlegtt6nrpomhq6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352041457722-n0t39rh18fgueesdmlegtt6nrpomhq6k</string>
	<key>API_KEY</key>
	<string>AIzaSyDOoRB9x0Qub6qq87L-eiAW8_EqcGTKUBw</string>
	<key>GCM_SENDER_ID</key>
	<string>352041457722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.locaLoc.app.apple</string>
	<key>PROJECT_ID</key>
	<string>localoc---dev</string>
	<key>STORAGE_BUCKET</key>
	<string>localoc---dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352041457722:ios:09d0fd6a53b6c44f4c7d03</string>
</dict>
</plist>