<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352041457722-77svgfvjt17oh30o0khneo8116hb49t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352041457722-77svgfvjt17oh30o0khneo8116hb49t3</string>
	<key>API_KEY</key>
	<string>AIzaSyAtazBNVQVn-DE7QPmojFf7ClPiR9gEfbI</string>
	<key>GCM_SENDER_ID</key>
	<string>352041457722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VolodymyrKotsiubenko.LocaLoc</string>
	<key>PROJECT_ID</key>
	<string>localoc---dev</string>
	<key>STORAGE_BUCKET</key>
	<string>localoc---dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352041457722:ios:c27e1b8b845437a64c7d03</string>
</dict>
</plist>