<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760676391740-k1lt29u8ctqnm6jdpk4nj121rhdp6ab4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760676391740-k1lt29u8ctqnm6jdpk4nj121rhdp6ab4</string>
	<key>API_KEY</key>
	<string>AIzaSyBK2QW5foIV1jbMZw1YJDIvPu42uUkGGv8</string>
	<key>GCM_SENDER_ID</key>
	<string>760676391740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VolodymyrKotsiubenko.LocaLoc</string>
	<key>PROJECT_ID</key>
	<string>localoc-552d5</string>
	<key>STORAGE_BUCKET</key>
	<string>localoc-552d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760676391740:ios:635cd8c68c82f35fcfdc39</string>
</dict>
</plist>